<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Hospitalname" value="zyy"/>
		<add key="Hisurl" value="http://124.225.222.56/Check.asmx"/>
		<add key="Hiskey" value="DDE4DAEB4D044C9C"/>
		<add key="Ptkey" value="QSYU26654T6GYLYM5642SEHDHAPM6814"/>
		<!--中医院QSYU26654T6GYLYM5642SEHDHAPM6814-->
		<!--人民医院SHSL45613JQFALFY2426834FBBKL1418-->
		<!--妇幼保健院NDYV32674JEKWXTV6563CKMLMYFE8423-->
		<add key="Vision" value="4.0"/>
		<add key="AppCode" value="QD113201703011044410001"/>
		<add key="Mchid" value="m113000001"/>
		<!--中医院m113000001-->
		<!--人民医院m113000005-->
		<!--妇幼保健院m113000004-->
		<add key="Wyurl" value="http://zfpt.hk.witdoctor.cn/pay/downloadbill"/>
		<add key="PageSize" value="1000"/>
		<add key="Service" value="QueryRegisterList"/>
		<add key="Partner" value="HKJKYLFW_WX"/>
		<add key="HospitalCode" value="460106002"/>
		<!--<add key="Partner" value="HKJKYLFW_WX"/>-->
		<!--//海口市妇幼保健院
    //key = "NDYV32674JEKWXTV6563CKMLMYFE8423";
    //appCode = "QD113201703011044410001";
    //mchid = "m113000004";-->
	</appSettings>
	<!--<appSettings/>-->
	<connectionStrings/>
	<system.web>
		<httpRuntime maxRequestLength="1024000000" executionTimeout="3600"/>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v15.2.Core, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.RichEdit.v15.2.Core, Version=15.2.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.ASPxThemes.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
		</httpHandlers>
	</system.web>
	<!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SpiServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security></binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://124.225.222.58/Check.asmx" binding="basicHttpBinding" bindingConfiguration="SpiServiceSoap" contract="HIS.SpiServiceSoap" name="SpiServiceSoap"/>
		</client>
	</system.serviceModel>
	<system.webServer>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
</configuration>
